<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="probando.css">
</head>

<body>
    <h1>hoila</h1>
    <h2 id="origen">Origen: </h2>
    <h2 id="destino">Destino: </h2>
    <select name="criterio" id="criterio">
        <option value="distancia" selected>Distancia</option>
        <option value="transbordo">Transbordo</option>
    </select>
    <img src="metro.jpg" usemap="#image-map" alt="" class="img-metro">
    <map name="image-map" class="map">
        <area target="_parent" alt="" title="" href="#" coords="23,255,11" shape="circle" class="estacion" id="110">
        <area target="_parent" alt="" title="" href="#" coords="23,287,11" shape="circle" class="estacion" id="111">
        <area target="_parent" alt="" title="" href="#" coords="24,319,10" shape="circle" class="estacion" id="112">
        <area target="_parent" alt="" title="" href="#" coords="23,362,11" shape="circle" class="estacion" id="113">
        <area target="_parent" alt="" title="" href="#" coords="65,362,11" shape="circle" class="estacion" id="114">
        <area target="_parent" alt="" title="" href="#" coords="104,362,9" shape="circle" class="estacion" id="115">
        <area target="_parent" alt="" title="" href="#" coords="148,361,10" shape="circle" class="estacion" id="116">
        <area target="_parent" alt="" title="" href="#" coords="188,362,10" shape="circle" class="estacion" id="117">
        <area target="_parent" alt="" title="" href="#" coords="230,362,10" shape="circle" class="estacion" id="118">
        <area target="_parent" alt="" title="" href="#" coords="265,327,10" shape="circle" class="estacion" id="119">
        <area target="_parent" alt="" title="" href="#" coords="327,312,11" shape="circle" class="estacion" id="120">
        <area target="_parent" alt="" title="" href="#" coords="378,313,10" shape="circle" class="estacion" id="121">
        <area target="_parent" alt="" title="" href="#" coords="435,312,12" shape="circle" class="estacion" id="122">
        <area target="_parent" alt="" title="" href="#" coords="483,299,10" shape="circle" class="estacion" id="123">
        <area target="_parent" alt="" title="" href="#" coords="521,269,11" shape="circle" class="estacion" id="124">
        <area target="_parent" alt="" title="" href="#" coords="558,240,11" shape="circle" class="estacion" id="125">
        <area target="_parent" alt="" title="" href="#" coords="589,216,11" shape="circle" class="estacion" id="126">
        <area target="_parent" alt="" title="" href="#" coords="619,191,11" shape="circle" class="estacion" id="127">
        <area target="_parent" alt="" title="" href="#" coords="327,49,11" shape="circle" class="estacion" id="210">
        <area target="_parent" alt="" title="" href="#" coords="327,85,11" shape="circle" class="estacion" id="211">
        <area target="_parent" alt="" title="" href="#" coords="327,118,11" shape="circle" class="estacion" id="212">
        <area target="_parent" alt="" title="" href="#" coords="327,152,11" shape="circle" class="estacion" id="213">
        <area target="_parent" alt="" title="" href="#" coords="327,187,11" shape="circle" class="estacion" id="214">
        <area target="_parent" alt="" title="" href="#" coords="327,224,11" shape="circle" class="estacion" id="215">
        <area target="_parent" alt="" title="" href="#" coords="327,256,11" shape="circle" class="estacion" id="216">
        <area target="_parent" alt="" title="" href="#" coords="327,287,11" shape="circle" class="estacion" id="217">
        <area target="_parent" alt="" title="" href="#" coords="327,376,11" shape="circle" class="estacion" id="218">
        <area target="_parent" alt="" title="" href="#" coords="327,427,11" shape="circle" class="estacion" id="219">
        <area target="_parent" alt="" title="" href="#" coords="327,474,12" shape="circle" class="estacion" id="220">
        <area target="_parent" alt="" title="" href="#" coords="327,523,11" shape="circle" class="estacion" id="221">
        <area target="_parent" alt="" title="" href="#" coords="327,570,12" shape="circle" class="estacion" id="222">
        <area target="_parent" alt="" title="" href="#" coords="289,605,11" shape="circle" class="estacion" id="223">
        <area target="_parent" alt="" title="" href="#" coords="220,605,11" shape="circle" class="estacion" id="224">
        <area target="_parent" alt="" title="" href="#" coords="166,605,11" shape="circle" class="estacion" id="225">
        <area target="_parent" alt="" title="" href="#" coords="118,604,12" shape="circle" class="estacion" id="226">
        <area target="_parent" alt="" title="" href="#" coords="67,605,11" shape="circle" class="estacion" id="227">
        <area target="_parent" alt="" title="" href="#" coords="155,153,11" shape="circle" class="estacion" id="310">
        <area target="_parent" alt="" title="" href="#" coords="187,205,10" shape="circle" class="estacion" id="311">
        <area target="_parent" alt="" title="" href="#" coords="216,250,11" shape="circle" class="estacion" id="312">
        <area target="_parent" alt="" title="" href="#" coords="252,306,11" shape="circle" class="estacion" id="314">
        <area target="_parent" alt="" title="" href="#" coords="352,376,11" shape="circle" class="estacion" id="315">
        <area target="_parent" alt="" title="" href="#" coords="376,390,10" shape="circle" class="estacion" id="316">
        <area target="_parent" alt="" title="" href="#" coords="397,417,11" shape="circle" class="estacion" id="317">
        <area target="_parent" alt="" title="" href="#" coords="418,445,10" shape="circle" class="estacion" id="318">
        <area target="_parent" alt="" title="" href="#" coords="440,475,10" shape="circle" class="estacion" id="319">
        <area target="_parent" alt="" title="" href="#" coords="461,506,10" shape="circle" class="estacion" id="321">
        <area target="_parent" alt="" title="" href="#" coords="483,536,10" shape="circle" class="estacion" id="322">
        <area target="_parent" alt="" title="" href="#" coords="502,562,10" shape="circle" class="estacion" id="323">
        <area target="_parent" alt="" title="" href="#" coords="518,586,11" shape="circle" class="estacion" id="324">
        <area target="_parent" alt="" title="" href="#" coords="549,605,11" shape="circle" class="estacion" id="325">
        <area target="_parent" alt="" title="" href="#" coords="579,605,11" shape="circle" class="estacion" id="326">
        <area target="_parent" alt="" title="" href="#" coords="607,605,10" shape="circle" class="estacion" id="327">
    </map>
    <button id="button" disabled>CALCULAR</button>
    <button id="clear">CLEAR</button>
    <h2>Camino: <span id="camino"></span></h2>
    <h2>Distancia: <span id="distancia"></span></h2>
    <h2>Transbordos: <span id="transbordo"></span></h2>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.4.0/jquery.maphilight.min.js"></script>
    <script src="scripts/bundle.js"></script>
</body>

</html>
